[Desktop Entry]
Type=Application
Exec=dwall -s style &
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en]=dwall
Name=dwall
Comment[en]=sets correct dwall after login
Comment=sets correct dwall after login
